<p>
  <label for="user_email"><%= 'Email'[:email_title] %></label><br />
  <%= form.text_field :email %>
</p>

<div id="password_fields">
	  <label for="user_password"><%= 'Password'[:password_title] %></label><br />
	<p class="help"><%= 'Enter your desired password twice.  It must be at least 5 characters.'[:password_field] %></span></p>

  <%= form.password_field :password %>
<span class="entryhelp">(<%= 'once'[] %>)</span><br />
  <%= form.password_field :password_confirmation %>
<span class="entryhelp">(<%= 'and then again'[] %>)</span>
  <%= hidden_field_tag :to, params[:to] unless params[:to].blank? %>
</div>
